{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}数据导入{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'servers/css/server-add.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <p class="content-note1">数据导入<span class="content-note2"> </span></p>
        <div style="clear:both"></div>
        <form class="form-table" action="{% url 'servers:server_upload' %}" method="post" enctype="multipart/form-data" >
            <input type="file" name="csv_file" id="csv_file" required="True" class="form-list">
            {% if msg %}
                <div class="error">{{ msg }}</div>
            {% endif %}
            <div style="clear:both"></div>
            <div class="form-list">
                <input class="form-button" type="submit"/>
            </div>
            <div class="form-list">
                 <button class="form-button" type="button" onclick="btn_cancel()">取消</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
{% block custome_js %}
    <script>
        function btn_cancel() {
            location.href = "{% url 'servers:server_list' %}";
        }
    </script>
{% endblock %}